<section id="admin-add-product">
  <div class="container">
    <div class="row">
      <h1 class="display-6">Edit Product</h1>
      {{#each product}}
        <form
          class="w-50 mt-4"
          action="/admin/edit-product/{{this._id}}"
          method="POST"
          enctype="multipart/form-data"
          {{! Multipart form data: The ENCTYPE attribute of <form> tag specifies the method of encoding for the form data. It is one of the two ways of encoding the HTML form. It is specifically used when file uploading is required in HTML form. It sends the form data to server in multiple parts because of large size of file. }}
        >
          {{! we don't need to use each here as it's not a array of obj's }}
          <div class="mb-1">
            <label for="prd-name" class="form-label">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="prd-name"
              value="{{this.name}}"
            />
          </div>
          <div class="mb-1">
            <label for="prd-category" class="form-label">Category</label>
            <input
              type="text"
              name="category"
              value="{{this.category}}"
              class="form-control"
              id="prd-category"
            />
          </div>
          <div class="mb-1">
            <label for="prd-price" class="form-label">Price</label>
            <input
              type="number"
              name="price"
              value="{{this.price}}" 
              class="form-control"
              id="prd-price"
            />
          </div>
          <div class="mb-1">
            <label for="prd-desc" class="form-label">Description</label>
            <input
              type="text"
              name="description"
              value="{{this.description}}"
              class="form-control"
              id="prd-desc"
            />
          </div>
          <div class="mb-3">
            <div>
              <img
                src="/images/product-images/{{this._id}}.jpg"
                alt="Edit Image"
                id="prdImgTarget"
              />
            </div>

            <label for="prd-img" class="form-label">Image</label>

            <input
              type="file"
              name="image"
              class="form-control"
              id="inputFile"
            />
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      {{/each}}
    </div>
  </div>
</section>